@import "../../styles/variables";

.error-main-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: $primary-margin;
}

.error-img {
  max-height: 140px;
}

.error-status {
  color: $secondary-color;
  margin: $primary-margin 0px;
  font-size: 29px;
}

.get-back-to-home-page {
  margin-bottom: $primary-margin;
}

.get-back-to-home-page {
  a {
    text-decoration: underline;
  }
}

//  Ecran : téléphone portable.
@media screen and (max-width: 767px) {
  .error-img {
    min-height: 65px;
    max-height: 90px;
  }

  .error-status {
    font-size: 18px;
    margin: $secondary-margin 0px;
  }

  .get-back-to-home-page {
    margin-bottom: $secondary-margin;
    a {
      font-size: 12px;
    }
  }
}
