//  C'est pour les styles qui sont communs
//  à tout le code.

@import "./variables.scss";

body {
  margin: 0;
  font-family: Montserrat;
  font-size: 24px;
}

.main-padding {
  padding: $body-padding;
}

.header-display {
  display: $primary-display;
  justify-content: space-between;
  margin-bottom: 35px;
  align-items: $primary-position;
}

.logo-kasa {
  height: 68px;
  width: 200px;
}

ul {
  gap: $big-size;
  display: $primary-display;
  flex-direction: row;
  justify-content: flex-end;
  margin: $non-existent;
  padding: $non-existent;
}

li {
  list-style-type: none;
}

a {
  color:  #000000;;
  text-decoration: none;
  font-weight: 500;
}

.active {
  text-decoration: underline;
}

.header-display a {
  font-size: 34px;
}

footer {
  display: $primary-display;
}

.footer-display {
  width: $full-size;
  min-height: 72px;
  box-sizing: $border-box;
  margin: 0 auto;
  position: $secondary-position;
  bottom: 0;
}

//  Ecran : ordinateur portable.
@media screen and (max-width: 1024px) {
  .logo-kasa {
    height: 48px;
    width: 160px;
  }

  .header-display a {
    font-size: 30px;
  }
}

//  Ecran : tablette.
@media screen and (max-width: 768px) {
  .logo-kasa {
    height: 40px;
    width: $medium-element-size;
  }

  .header-display a {
    font-size: $big-size;
  }
}

//  Ecran : téléphone portable.
@media screen and (max-width: 425px) {
  .main-padding {
    padding: $the-biggest-size;
  }

  ul {
    padding: $non-existent;
    margin: $non-existent;
    gap: $the-smallest-size;
  }

  .header-display a {
    font-size: $small-size;
  }

  nav a {
    text-transform: uppercase;
  }

  .footer-display {
    min-height: 110px;
  }
}
