//  C'est pour les styles qui sont communs
//  à tout le code.

@import "./variables.scss";

body {
  margin: 0;
  font-family: $primary-font;
  font-size: $primary-font-size;
}

.main-padding {
  padding: $body-padding;
}

.header-display {
  display: flex;
  justify-content: space-between;
  margin-bottom: 35px;
  align-items: center;
}

.logo-kasa {
  height: 68px;
  width: 200px;
}

ul {
  gap: $medium-size;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin: 0px;
  padding: 0px;
}

li {
  list-style-type: none;
}

a {
  color: $primary-text-color;
  text-decoration: none;
  font-weight: 500;
}

.active {
  text-decoration: underline;
}

.header-display a {
  font-size: 34px;
}

.full-width {
  width: $full-size;
}

.centered {
  display: flex;
  justify-content: center;
}

footer {
  display: flex;
}

.footer-display {
  width: $full-size;
  min-height: 72px;
  box-sizing: $border-box;
  margin: 0 auto;
  position: $secondary-position;
  bottom: 0;
}

//  Ecran : ordinateur portable.
@media screen and (max-width: 1024px) {
  .logo-kasa {
    height: 48px;
    width: 160px;
  }

  .header-display a {
    font-size: 30px;
  }
}

//  Ecran : tablette.
@media screen and (max-width: 768px) {
  .logo-kasa {
    height: 40px;
    width: 130px;
  }

  .header-display a {
    font-size: $medium-size;
  }
}

//  Ecran : téléphone portable.
@media screen and (max-width: 425px) {
  .main-padding {
    padding: 25px;
  }

  ul {
    padding: 0px;
    margin: 0px;
    gap: 10px;
  }

  .header-display a {
    font-size: $secondary-font;
  }

  nav a {
    text-transform: uppercase;
  }

  .footer-display {
    min-height: 110px;
  }
}
