@import "./variables.scss";

.card-container {
  margin: 43px 0px 50px;
  background-color: $tertiary-color;
  display: grid;
  grid-template-columns: 250px 250px 250px;
  justify-content: space-around;
  row-gap: 50px;
  padding: 70px 45px;
  border-radius: $the-biggest-size;
}

.card {
  display: $primary-display;
  flex-direction: column;
  border-radius: $the-smallest-size;
  background-color: $primary-color;
  width: 250px;
  height: 250px;
  position: $secondary-position;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}

.house-cover {
  height: $full-size;
  border-radius: $the-smallest-size $the-smallest-size 0 0;
  object-fit: cover;
}

.card-text {
  color: $primary-color;
  position: absolute;
  z-index: 2;
  bottom: 0px;
  left: $medium-size;
  font-size: $big-size;
  font-weight: bold;
}

//  Ecran : ordinateur portable.
@media screen and (max-width: 1024px) {
  .card-container {
    grid-template-columns: 170px 170px 170px;
  }

  .card {
    width: 170px;
    height: 170px;
  }

  .card-text {
    font-size: $small-size;
  }
}

//  Ecran : tablette.
@media screen and (max-width: 768px) {
  .card-container {
    grid-template-columns: 130px 130px;
    padding: 70px 0px 0px 0px;
    padding: 50px $the-smallest-size;
  }
  .card {
    width: 130px;
    height: 130px;
  }
}

//  Ecran : téléphone portable.
@media screen and (max-width: 425px) {
  .card-container {
    display: $primary-display;
    flex-direction: column;
    gap: 30px;
    background-color: $primary-color;
    padding: 0px;
    margin: $big-size 0px;
  }

  .card {
    height: 130px;
    width: $full-size;
  }

  .house-cover {
    height: 130px;
  }
}
