@import "./variables.scss";

.about-page-main-content {
  display: $primary-display;
  justify-content: $primary-position;
}

.collapse-container {
  display: $primary-display;
  flex-direction: column;
  gap: 5px;
  width: 80%;
  justify-content: space-between;
  margin: 40px 0px;
}

details {
  width: $full-size;
  margin-bottom: $big-size;
  user-select: none;

  summary {
    display: $primary-display;
    justify-content: space-between;
    font-size: 22px;
    height: 22px;
    font-weight: bold;
    letter-spacing: 1px;
    color: $primary-color;
    background-color: $secondary-color;
    border-radius: $the-smallest-size;
    list-style: none;
    cursor: pointer;
    padding: $medium-size;
    transform: translate(-0%, 20%);
  }
  p {
    background-color: $tertiary-color;
    margin: 7px 0px;
    padding: $big-size;
    font-size: 22px;
  }
}

details[open] summary .fa-chevron-up {
  transform: rotate(-180deg);
}

.fa-chevron-up {
  transition: all 0.3s;
}

//  Ecran : ordinateur portable.
@media screen and (max-width: 1024px) {
  .collapse-container {
    margin: $big-size 0px;
  }

  details {
    summary {
      font-size: $big-size;
      height: $big-size;
    }
    p {
      font-size: $big-size;
    }
  }
}

//  Ecran : tablette.
@media screen and (max-width: 768px) {
  .collapse-container {
    margin: $the-smallest-size 0px;
  }

  details {
    summary {
      font-size: $medium-big-size;
      height: $medium-big-size;
      font-size: $small-size;
      height: $small-size;
      width: 78%;
      padding: 8px 18px;
    }

    .hidden-content-list {
      top: 6px;
    }

    p {
      font-size: $medium-big-size;
      position: relative;
    }

    p,
    .hidden-content-list {
      width: 77%;
    }
  }

  .hidden-content-list li {
    font-size: $medium-big-size;
  }
}

//  Ecran : téléphone portable.
@media screen and (max-width: 425px) {
  .collapse-container {
    width: $full-size;
  }
  details {
    summary {
      font-size: $medium-size;
      height: $medium-size;
    }

    p {
      font-size: $medium-size;
    }
  }
}
