@import "./variables.scss";

.error-main-div {
  display: $primary-display;
  flex-direction: column;
  align-items: $primary-position;
  margin-top: $medium-element-size;
}

.error-img {
  height: 150px;
}

.error-status-div {
  display: $primary-display;
  text-align: $primary-position;
}

.error-status {
  color: $secondary-color;
  margin: $medium-element-size $non-existent;
  font-size: 29px;
}

.get-back-to-home-page {
  margin-bottom: $medium-element-size;
}

.get-back-to-home-page {
  a {
    text-decoration: underline;
  }
}

//  Ecran : ordinateur portable.
@media screen and (max-width: 1024px) {
  .error-img {
    height: $small-element-size;
  }
}

//  Ecran : tablette.
@media screen and (max-width: 768px) {
  .error-img {
    height: 80px;
  }
}
//  Ecran : téléphone portable.
@media screen and (max-width: 425px) {
  .error-img {
    height: 60px;
  }

  .error-status {
    font-size: 18px;
    font-size: $big-size;
    margin: $small-element-size $non-existent;
  }

  .get-back-to-home-page {
    margin-bottom: $small-element-size;

    a {
      font-size: $big-size;
    }
  }
}
