@import "./variables.scss";

.slideShow {
  display: $primary-display;
  position: $secondary-position;
}
.slideShow-img {
  width: $full-size;
  height: 450px;
  border-radius: $the-biggest-size;
  object-fit: fill;
}

.left-arrow,
.right-arrow {
  position: absolute;
  top: 50%;
  z-index: 80;
  width: 30px;
  height: 60px;
}

.left-arrow {
  left: 2%;
}

.right-arrow {
  right: 2%;
}

.picture-counter {
  position: absolute;
  bottom: $the-biggest-size;
  color: $primary-color;
  left: 50%;
  font-size: $the-biggest-size;
}

//  Ecran : tablette.
@media screen and (max-width: 768px) {
  .slideShow-img {
    height: 290px;
  }

  .left-arrow,
  .right-arrow {
    width: $big-size;
    height: 50px;
  }
}

//  Ecran : téléphone portable.
@media screen and (max-width: 425px) {
  .slideShow-img {
    height: $the-biggest-element-size;
  }
  .left-arrow,
  .right-arrow {
    width: $medium-size;
    height: $medium-size;
  }

  .picture-counter {
    display: none;
  }
}
