// Display
$primary-display: flex;

// Position
$primary-position: center;

// Colors
$primary-color: rgba(255, 255, 255, 1);
$secondary-color: rgba(255, 96, 96, 1);
$tertiary-color: rgba(246, 246, 246, 0.45);
