// Display
$primary-display: flex;

// Position
$primary-position: center;
$secondary-position: relative;

// Colors
$primary-color: rgba(255, 255, 255, 1);
$secondary-color: rgba(255, 96, 96, 1);
$tertiary-color: rgba(246, 246, 246, 0.45);

$primary-text-color: #000000;

// Paddings
$body-padding: 45px 60px 0px;

//Margins
$primary-margin: 130px;
$secondary-margin: 100px;

// Width
$full-size: 100%;
$non-existent: 0px;

// Box-sizing
$border-box: border-box;

// Font
$primary-font: Montserrat;

$the-smallest-size: 10px;
$small-size: 12px;

$medium-size: 15px;
$medium-big-size: 17px;

$big-size: 20px;
$the-biggest-size: 25px;
