// Display
$primary-display: flex;

// Position
$primary-position: center;
$secondary-position: relative;

// Colors
$primary-color: rgba(255, 255, 255, 1);
$secondary-color: rgba(255, 96, 96, 1);
$tertiary-color: rgba(246, 246, 246, 0.45);

// Width
$full-size: 100%;
$non-existent: 0px;

// Sizes
$the-smallest-size: 10px;
$small-size: 12px;
$medium-size: 15px;
$medium-big-size: 17px;
$big-size: 20px;
$the-biggest-size: 25px;

$small-element-size: 100px;
$medium-element-size: 130px;
$big-element-size: 170px;
$the-biggest-element-size: 250px;