//  Ce sont les styles qui sont
//  communs à toutes les pages.

@import "./variables";

body {
  margin: 0;
  font-family: Montserrat;
  font-size: $primary-font-size;
}

ul {
  gap: 20px;
}

li {
  list-style-type: none;
}

a {
  color: $primary-text-color;
  text-decoration: none;
  font-weight: 500;
}

.full-width {
  width: $full-size;
}

.centered {
  display: flex;
  justify-content: center;
}

.footer-display {
  width: $full-size;
  box-sizing: $border-box;
  margin: 0 auto;
  position: $secondary-position;
  bottom: 0;
}

.KKK {
  border: solid grey 3px;
}

.VVV{
  border: solid blue 3px;
}

.PPP {
  border: solid green 3px;
  padding: 45px 100px;
}

.FFF{
  border: solid orange 3px;
}

//  Ecran : desktop.
@media screen and (max-width: 1440px) {
  body {
    background-color: rgb(244, 169, 169);
  }
}

//  Ecran : tablette.
@media screen and (max-width: 768px) {
  body {
    background-color: rgb(196, 229, 196);
  }
}

//  Ecran : téléphone portable.
@media screen and (max-width: 425px) {
  body {
    background-color: rgb(233, 231, 231);
  }
}
