@import "../../styles/variables";

.card-container {
  margin-top: 43px;
  margin: 43px 0px 50px;
  background-color: rgba(246, 246, 246, 1);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  gap: 20px;
  padding: 40px;
  border-radius: 25px;
}

.card {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  border: 1px solid black;
  background-color: $primary-color;
  max-width: 340px;
  min-width: 150px;
  width: -webkit-fill-available;
}

.house-cover {
  height: 78%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.card-text {
  margin: 0px;
  padding-left: 20px;
  font-size: 12px;
}

//  Ecran : téléphone portable.
@media screen and (max-width: 767px) {
  .card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(255, 255, 255, 1);
    padding: 0px;
    // margin-top: 20px;
    margin: 20px 0px;
  }

  .card {
    max-width: 723px;
    max-height: 300px;
  }

  .house-cover {
    max-height: 250px;
  }

  .card-text {
    font-size: 18px;
  }
}
