@import "../../styles/variables";

.card-container {
  margin: 43px 0px 50px;
  background-color: rgba(246, 246, 246, 1);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  gap: 60px 17px;
  padding: 40px 28px;
  border-radius: 25px;
}

.card {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  border: 1px solid black;
  background-color: $primary-color;
  max-width: 290px;
  min-width: 70px;
  width: -webkit-fill-available;
  max-height: 278px;
}

.house-cover {
  height: -webkit-fill-available;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.card-text {
  margin: 0px;
  padding-left: 5px;
  font-size: 12px;
  min-height: 60px;
}

//  Ecran : téléphone portable.
@media screen and (max-width: 425px) {
  .card-container {
    display: flex;
    flex-direction: column;
    gap: 30px;
    background-color: rgba(255, 255, 255, 1);
    padding: 0px;
    margin: 20px 0px;
  }

  .card {
    height: 255px;
    max-width: 100%;
  }

  .house-cover {
    max-height: 212px;
    height: 100%;
  }

  .card-text {
    font-size: $tertiary-font;
  }
}
