@import "../../styles/variables";

.about-page-main-content {
  display: $primary-display;
  justify-content: center;
}

.collapse-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 80%;
  justify-content: space-between;
  margin: 80px 0px;
}

details {
  width: 100%;
  margin-bottom: 20px;
  user-select: none;

  summary {
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    color: $primary-color;
    background-color: $secondary-color;
    border-radius: 5px;
    list-style: none;
    cursor: pointer;
    padding: 15px;
    transform: translate(-0%, 20%);
  }
  p {
    background-color: $tertiary-color;
    margin: 7px 0px;
    padding: 20px;
  }
}

details[open] summary .fa-chevron-up {
  transform: rotate(-180deg);
}

.fa-chevron-up {
  transition: all 0.3s;
}

//  Ecran : téléphone portable.
@media screen and (max-width: 425px) {
  .collapse-container {
    width: 100%;
  }
  details {
    summary {
      font-size: 13px;
    }
  }
}
