.gallery-container {
  background-color: rgba(246, 246, 246, 1);
  background-color: pink;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  padding: 10px;
}

.card {
  display: flex;
  border: 1px solid black;
}
