@import "../../styles/_variables.scss";

.two-side-by-side-containers {
  display: flex;
  justify-content: space-between;

  details {
    width: 40%;
  }

  .host-presentation-container {
    display: flex;
    flex-direction: column;
    padding-top: 30px;
  }
}

.house-presentation-container {
  h1 {
    color: $secondary-color;
    font-weight: 500;
    margin-bottom: 0px;
    margin-top: 50px;
    margin: 50px 0px 0px;
  }
}

.location {
  margin-top: 0px;
  margin: 5px 0px 20px 0px;
}
.tag-div {
  display: flex;
  gap: 10px;
  top: 12px;
  position: relative;
}

.tag {
  display: flex;
  justify-content: center;
  width: fit-content;
  border-radius: 15px;
  padding: 5px 25px;
  font-size: 20px;
  color: $primary-color;
  background-color: $secondary-color;
}
.details-container {
  margin: 30px 0px 50px;
}

.host-presentation-container {
  width: 40%;
}

.second-container {
  display: flex;
  justify-content: flex-end;
  gap: 15px;
}

.host-name {
  color: $secondary-color;
  font-size: 24px;
}

.host-picture {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  position: relative;
}

.star-container {
  display: flex;
  justify-content: flex-end;
  gap: 12px;
  position: relative;
  top: 20px;
}
//  Ecran : ordinateur portable.
@media screen and (max-width: 1024px) {
  .two-side-by-side-containers {
    details {
      width: 45%;
    }
  }
  .house-presentation-container {
    h1 {
      font-size: 30px;
    }
  }

  .location,
  .host-name {
    font-size: 18px;
  }

  .host-picture {
    width: 60px;
    height: 60px;
  }

  .tag {
    padding: 5px 14px;
  }
}

//  Ecran : tablette.
@media screen and (max-width: 768px) {
  .house-presentation-container {

    h1 {
      font-size: 18px;
    }
  }

  .second-container {
    gap: 10px;
    top: 22px;
    position: relative;
  }

 .location, .host-name{
    font-size: 16px;
  }

  .host-name {
    p {
      width: 40px;
      margin-top: 0px;
    }
  }

  .host-picture {
    width: 40px;
    height: 40px;
  }

  .tag-div {
    flex-wrap: wrap;
  }
  .tag {
    padding: 2px 18px;
    width: max-content;
    font-size: 16px;
  }

  .star-container {
    top: 14px;
    gap: 7px;
  }
  .star{
    font-size: 15px;
  }
}

//  Ecran : téléphone portable.
@media screen and (max-width: 425px) {
  .two-side-by-side-containers {
    flex-direction: column;

    .host-presentation-container {
      flex-direction: row-reverse;
      width: 100%;
      align-items: baseline;
      justify-content: space-between;
    }

    details {
      width: 100%;
    }
  }
  .host-picture {
    width: 40px;
    height: 40px;
  }

  .house-presentation-container {
    h1 {
      font-size: 20px;
    }
  }

  .location,
  .host-name {
    font-size: 15px;
  }

  .tag {
    font-size: 10px;
    padding: 7px 12px;
    align-items: center;
    width: max-content;
  }

  .second-container {
    flex-direction: row;
    top: 0px;
  }

  .star-container {
    justify-content: flex-start;
    position: static;
    top: 7px;
    position: relative;
    gap: 5px;
  }
  .star {
    font-size: 14px;
  }

  .details-container {
    margin-bottom: 0px;
  }
}
