@import "../../styles/variables";

.about-page-main-content {
  display: $primary-display;
  justify-content: center;
}

.accordion-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 80%;
  justify-content: space-between;
  margin: 80px 0px;
}

.accordion {
  height: 30px;
  background-color: $secondary-color;

  font-weight: 500;
  padding: 10px 20px 10px 15px;
  border-radius: 5px;

  display: flex;
  justify-content: space-between;
}

.accordion p {
  color: $primary-color;
  margin: 0px;
}

.accordion-btn-arrow{
  padding: 0px;
  border: none;
  background-color: $secondary-color;
}

.accordion-arrow {
  width: 32px;
  height: 32px;
}

.folded-content{
border: solid 1px black;
top: -30px;
position: relative;
}

//  Ecran : téléphone portable.
@media screen and (max-width: 425px) {
  .accordion-container {
    width: 100%;
  }
}
