@import "../../styles/variables";

.about-page-main-content {
  display: $primary-display;
  justify-content: center;
}

.accordion-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 80%;
  justify-content: space-between;
  margin: 80px 0px;
}

.accordion {
  height: 30px;
  background-color: $secondary-color;
  font-weight: 500;
  padding: 10px 20px 10px 15px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
}

.accordion p {
  color: $primary-color;
  margin: 0px;
}

.arrow-div {
  display: block;
}

.accordion-btn-arrow {
  padding: 0px;
  border: none;
  background-color: $secondary-color;
}

.accordion-arrow {
  width: 32px;
  height: 32px;
}

.folded-content {
  position: relative;
  //  position: absolute;
  background-color: $tertiary-color;
  display: flex;
  background-color: burlywood;
}
.AAAA {
  direction: rtl;
  // display: flow;
}
.folded-content p {
  color: black;
  padding: 15px;
}

.hide-element {
  display: none;
}

.show-element {
  display: flex;
}

#show-this {
  display: flex;
}

#hide-this {
  display: none;
}
.collaps-content-container {
  display: none;
  // display: flex;
  background-color: rosybrown;
}

//  Ecran : téléphone portable.
@media screen and (max-width: 425px) {
  .accordion-container {
    width: 100%;
  }
}
